/* ------------------------
   General Styles
------------------------- */

/* ------------------------
   Projects Table
------------------------- */
.projects_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: var(--bg2-color);
}

.projects_table th, 
.projects_table td {
    padding: 12px 15px;
    border: 1px solid var(--border-color);
    color: var(--text-color3);
}

.projects_table th {
    background-color: var(--bg-color3);
    color: var(--text-color);
}

.projects_table tbody tr:nth-child(even) {
    background: var(--bg-gradient);
}

/* Table Links */
.projects_table a {
    background: var(--accent-color);
    padding: 5px 10px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 5px;
}

.projects_table a:hover {
    opacity: var(--button-hover-opacity);
}

/* ------------------------
   Section Wrapper
------------------------- */
.project_section {
    padding: 40px;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--text-color);
}

/* Responsive Table */
@media screen and (max-width: 768px) {
    .projects_table {
        font-size: 14px;
        width: 100%;
        min-width: 600px;
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
    }
    
    .project_section {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding: 20px;
    }

    .projects_table th, 
    .projects_table td {
        text-align: center;
        padding: 8px;
    }
}
